.fondo{
    position: fixed;
    min-width: 100%;
    min-height: 100%;
 
    top: 20%;
    left: 50%;
 
    transform: translateX(-40%) translateY(-30%);
    z-index: -3;
    opacity: 4;
 
 }
 #pelis{
     color: red;
 }
 .fondo{
    position: fixed;
    min-width: 100%;
    min-height: 100%;
 
    top: 20%;
    left: 50%;
 
    transform: translateX(-40%) translateY(-30%);
    z-index: -3;
    opacity: 4;
 
 }
 #nav{
    background-color: black;
 }
 main{
    padding: 20px;
    display: flex;
    justify-content: space-between;

 }
 .title{
    padding: 10px;
    color: black;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
 }
 .peliculas{
  background-color: rgba(255, 255, 255, 0.582);
  border-radius: 3px ;
  border-color: black;
 }
 .overview{
     padding: 3px;
     color: black;
     font-family: 'Lato', sans-serif;
 }