.fondo{
    position: fixed;
    min-width: 100%;
    min-height: 100%;
 
    top: 20%;
    left: 50%;
 
    transform: translateX(-40%) translateY(-30%);
    z-index: -3;
    opacity: 4;
 
 }
 #pelis{
     color: red;
 }