.fondo{
    position: fixed;
    min-width: 100%;
    min-height: 100%;
 
    top: 20%;
    left: 50%;
 
    transform: translateX(-40%) translateY(-30%);
    z-index: -3;
    opacity: 4;
 
 }
 #pelis{
     color: red;
 }
 .fondo{
    position: fixed;
    min-width: 100%;
    min-height: 100%;
 
    top: 20%;
    left: 50%;
 
    transform: translateX(-40%) translateY(-30%);
    z-index: -3;
    opacity: 4;
 
 }
 #nav{
    background-color: black;
 }
 main{
    padding: 20px;
    display: flex;
    justify-content: space-between;

 }
 .title{
    padding: 10px;
    color: black;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
 }
 .peliculas{
  background-color: rgba(255, 255, 255, 0.582);
  border-radius: 3px ;
  border-color: black;
 }
 .overview{
     padding: 3px;
     color: black;
     font-family: 'Lato', sans-serif;
 }
 .Social-Bar {
   position: fixed;
   right: 0;
   top: 35%;
   font-size: 1.5rem;
   display: flex;
   flex-direction: column;
   align-items: flex-end;
   z-index: 100;
}

/*Los iconos tienes sus propias fuetes y su propia hoja de estilos*/
.icon {
   color: white;
   text-decoration: none;
   padding: .8rem;
   display: flex;
   transition: all .6%;
   transition-duration: 1s;
}

.icon-facebook {
   background: #2E406E;
   border-radius: 1rem 0 0 0;
}

.icon-twitter {
   background: #339DC5;
}

.icon-instagram {
   background: #3f729b;
}

.icon:first-child {
   border-radius: 1rem 0 0 0;
}

.icon:last-child {
   border-radius: 0 0 0 1rem;
}

.icon:hover {
   padding-right: 3rem;
   border-radius: 1rem 0 0 1rem;
   box-shadow: 0 0 .5rem rgba(0, 0, 0, 0.42);
   transition-duration: 1s;
}
.Logo{
   font-size: 60px;
   font-family: 'Marcador permanente', cursiva;
   margin-left: 5px;
   color: rgb(0, 0, 0);
   text-shadow: -2px 2px 8px rgb(255, 255, 255);
   padding: 10px 20px;
   border-bottom: 1px solid white;
}